# colocamos aqui os ficheiros sem controle de versoes
/.idea/git-learning.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/greetings.iml
/.idea/.gitignore
